<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <util:map id="lookup">
        <entry key="60" value="1 hour"/>
        <entry key="480" value="8 hours"/>
        <entry key="1440" value="24 hours"/>
        <entry key="2880" value="2 days"/>
    </util:map>
</beans>